@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500,300,600,200,100,700,800);

@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,500,100,600,700);

@font-face {
font-family: 'Bebas Neue Bold';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue Bold'), url('../fonts/BEBASNEUE BOLD.woff') format('woff');
}


@font-face {
font-family: 'Butler Bold';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue Bold'), url('../fonts/butler_bold-webfont.woff') format('woff');
}

@font-face {
font-family: 'Butler Stencil Bold';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue Bold'), url('../fonts/butler_bold_stencil-webfont.woff') format('woff');
}

$playfair: 'Playfair Display', sans-serif;
$primary-font: 'Work Sans', sans-serif;
$bebasbold: 'Bebas Neue Bold', sans-serif;
$worksans: 'Work Sans', sans-serif;
$butlerbold: 'Butler Bold', sans-serif;
$butlerstencil: 'Butler Stencil Bold', sans-serif;